APP_NAME=user-service
APP_VERSION=1.0.0
APP_DESCRIPTION=Servico de gerenciamento de usuarios
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db-user-service
DB_USER=db-user
DB_PASS=db-pass
JWT_SECRET=my-secret-key
ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=admin-password
CORS_ALLOWED_ORIGIN=*